# виртуальное окружение
venv/
.venv/

# питоновский мусор
__pycache__/
*.pyc
Comm.txt
history_dump.py

# логи и истории
logs/
*.log
*.pid
.requirements.sha256

# секреты
.env
kkey
kkey.pub

# локальные настройки редактора
.vscode/
.idea/

# macOS
.DS_Store
